<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512852361924-ds5r0jsp27fvo96dvc82k60g0ft2phng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512852361924-ds5r0jsp27fvo96dvc82k60g0ft2phng</string>
	<key>API_KEY</key>
	<string>AIzaSyBhRdkigL0oX0jQHQLhfSB_UlrKP3PYrsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>512852361924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itsgotime.app</string>
	<key>PROJECT_ID</key>
	<string>itsgotime-2be1f</string>
	<key>STORAGE_BUCKET</key>
	<string>itsgotime-2be1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512852361924:ios:a3b3331d7c06a737377f91</string>
</dict>
</plist>